@use "vars";

footer {
    display: flex;
    background-color: vars.$very-pale-orange;
    border-radius: 0 0 20px 20px;
    height: 158px;
}

.footer-left {
    padding: 30px 40px;
    font-size: 1.07em;
    width: 50%;
}
    .total-text {
        color: vars.$medium-brown;
    }

    .total-number {
        font-size: 2.6em;
        font-weight: 400;
        width: 50%;
        color: vars.$dark-brown;
    }

.footer-right {
    padding: 0 42px;
    width: 50%;
    text-align: end;
    margin-top: 61px;
}

    .fr-num {
        font-weight: 700;
        color: vars.$dark-brown;
    }
    .fr-text {
        color: vars.$medium-brown
    }