@use "vars";
.chart {
   display: grid;

   grid-template: 150px 61px / repeat(7, 50px);

   grid-column-gap: 18.3px;
   margin: 0 auto;
   width: 460px;
   border-bottom: vars.$cream solid 2px;
}

.bar {
   background-color: vars.$soft-red;
   border-radius: 4px;
   position: relative;
   color: vars.$soft-red;
   font-size: 0.8em;
   text-align: center;
   &.today {
      color: vars.$cyan;
      background-color: vars.$cyan;
   }
}



.bar:hover {
   color: vars.$dark-brown;
}

.day {
   text-align: center;
   margin-top: 4px;
   color: vars.$medium-brown;
}

// Creation of upper 7 grid-elem
@for $i from 0 to 7 {
   #item-#{$i}{
      grid-row: 1 / 2;
      grid-column: #{$i+1} / #{$i+2};
   }
}
// Creation od lower 7 grid-elem
@for $i from 7 to 14 {
   #item-#{$i}{
      grid-row: 2 / 3;
      grid-column: #{$i -6} / #{$i -5};
   }
}