// COLORS
  // Primary
  $soft-red: hsl(10, 79%, 65%) !default;
  $cyan: hsl(186, 34%, 60%) !default;

  // Neutral
  $dark-brown: hsl(25, 47%, 15%) !default;
  $medium-brown: hsl(28, 10%, 53%) !default;
  $cream: hsl(27, 66%, 92%) !default;
  $very-pale-orange: hsl(33, 100%, 98%) !default;