.chart-cont {
    // background-color: #5f6;

}

.chart {
    // background: #19f;
   display: grid; 
				
   grid-template: 150px 61px / repeat(7, 50px);
   
   grid-column-gap: 18.3px;
   margin: 0 auto;
   width: 460px;
   border-bottom: $very-pale-orange solid 2px;
}

.bar {
    background-color: $soft-red;
    border-radius: 4px;
    position: relative;
    bottom: -149px;
    transform: rotate(180deg);
    transform-origin: top;
    height: 10px;
}
.day {
    text-align: center;
    margin-top: 4px;
    color: $medium-brown;
}
#item-0 {
height: 29px;

grid-row: 1/2;
grid-column: 1/2;
}
#item-1 {

grid-row: 1 / 2;
grid-column: 2 / 3;
}
#item-2 {

grid-row: 1 / 2;
grid-column: 3 / 4;
}
#item-3 {

grid-row: 1 / 2;
grid-column: 4 / 5;
}
#item-4 {

grid-row: 1 / 2;
grid-column: 5 / 6;
}
#item-5 {

grid-row: 1 / 2;
grid-column: 6 / 7;
}
#item-6 {

grid-row: 1 / 2;
grid-column: 7 / 8;
}



#item-7 {

   grid-row: 2 / 3;
   grid-column: 1 / 2;
   
}
#item-8 {

   grid-row: 2 / 3;
   grid-column: 2 / 3;
   
}
#item-9 {

   grid-row: 2 / 3;
   grid-column: 3 / 4;
   
}
#item-10 {

   grid-row: 2 / 3;
   grid-column: 4 / 5;
   
}
#item-11 {

   grid-row: 2 / 3;
   grid-column: 5 / 6;
   
}
#item-12 {

   grid-row: 2 / 3;
   grid-column: 6 / 7;
   
}
#item-13 {

   grid-row: 2 / 3;
   grid-column: 7 / 8;
   
}




