@use "list" as *;

body{
  width: 100%;
  height: 100vh;
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  background-color: $cream;
}
  section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  div.block {
    width: 541px;
    height: 662px;
    margin: 0 auto;
  }   
  
main {
  background: $very-pale-orange;
  height: auto;
  border-radius: 20px 20px 0 0;
}
  .spending {
    font-size: 34px;
    padding-left: 41px;
    padding: 28px 41px;
    margin-bottom: 40px;
    height: 100px;
    font-weight: 700;
    visibility: visible;
    color: $dark-brown;
  }



// for Mobile
@media (max-width: 376px) {
  div.block {
    height: 533px;
    width: 343px;
  }
  header {
    width: 100%;
    height: 97px;
    border-radius: 12px;
    margin-bottom: 15px;
  }

  .head-title {
    margin-top: 19px;
    padding-left: 19px;
    font-size: 16px;
  }

  .head-value {
    margin-top: 4px;
    padding-left: 19px;
    font-size: 25px;
  }

  .circle0, .circle100 {
    top: -12px;
    right: 45px;
    width: 40px;
    height: 40px;
  }

  .circle100 {
    top: 28px;
    right: 24px;
    border: none;
  }

  main {border-radius: 10px 10px 0 0;}

  .spending {
    font-size: 26px;
    padding: 23px 18px;
    margin-bottom: 8px;
  }

  .chart {
    width: 303px;
    grid-template: 150px 50px / repeat(7, 33px);
    grid-column-gap: 12px;
  }

  .bar {font-size: 0.5em;}
  
  .day {
    margin-top: 10px;
    font-size: 0.7em;
  }

  .popup {
    display: none;
    position: relative;
    top: -30px;
    left: -8px;
    border-radius: 5px;
    font-size: 13px;
 }

  .hover>.popup {
    padding: 6px;
    text-align: center;
  }

  footer {height: 114px;}
  
  .footer-left {
    padding: 24px 17px;
    font-size: 0.9em;
  }
  
  .total-number {
    font-size: 2em;
    padding-top: 4px;
  }
  
  .footer-right {
    padding: 0 22px;
    width: 50%;
    text-align: end;
    margin-top: 47px;
    font-size: 16px;
  }
}